###################################################################################################
# Product Backlog (https://resources.scrumalliance.org/Article/scrum-artifacts)                   #
# The product backlog is an ordered list of everything that is known to be needed in a product    #
# based on the product goal. It is constantly evolving and is never complete.                     #
###################################################################################################

User Stories:
User needs are expressed in the form of partial user stories:
As a <role>, I want <goal>.

####################################
# Story Points = { 1, 2, 3, 5, 8 } #
# Risk Levels  = { Lo,  Med,  Hi } #
####################################

[toDo] or [DONE]        # { [pts], [risk] }

--------------
| Organizer: |
--------------
[toDo] US 01.01.01      # { [pts], [risk] }
As an organizer, I want to create a new event and generate a unique QR code 
for attendee check-ins.

[toDo] US 01.01.02      # { [pts], [risk] } 
As an organizer, I want the option to reuse an existing QR code for attendee 
check-ins.

[toDo] US 01.02.01      # { [pts], [risk] } 
As an organizer, I want to view the list of attendees who have checked in to 
my event.

[toDo] US 01.03.01      # { [pts], [risk] } 
As an organizer, I want to send notifications to all attendees through the app.

[toDo] US 01.04.01      # { [pts], [risk] } 
As an organizer, I want to upload an event poster to provide visual information 
to attendees.

[toDo] US 01.05.01      # { [pts], [risk] } 
As an organizer, I want to track real-time attendance and receive alerts for 
important milestones.

[toDo] US 01.06.01      # { [pts], [risk] } 
As an organizer, I want to share a generator QR code image to other apps so I can 
email or update other documents with the QR code.

[toDo] US 01.07.01      # { [pts], [risk] } 
As an organizer, I want to create a new event and generate a unique promotion QR code 
that links to the event description and event poster in the app.

[toDo] US 01.08.01      # { [pts], [risk] } 
As an organizer, I want to see on a map where users are checking in from.

[toDo] US 01.09.01      # { [pts], [risk] } 
As an organizer, I want to see how many times an attendee has checked into an event.

-------------
| Attendee: |
-------------
[toDo] US 02.01.01      # { [pts], [risk] } 
As an attendee, I want to quickly check into an event by scanning the provided QR code.

[toDo] US 02.02.01      # { [pts], [risk] } 
As an attendee, I want to upload a profile picture for a more personalized experience.

[toDo] US 02.02.02      # { [pts], [risk] } 
As an attendee, I want to remove profile pictures if need be.

[toDo] US 02.02.03      # { [pts], [risk] } 
As an attendee, I want to update information such as name, homepage, and contact 
information on my profile.

[toDo] US 02.03.01      # { [pts], [risk] } 
As an attendee, I want to receive push notifications with important updates from the 
event organizers.

[toDo] US 02.04.01      # { [pts], [risk] } 
As an attendee, I want to view event details and announcements within the app.

[toDo] US 02.05.01      # { [pts], [risk] } 
As an attendee, I want my profile picture to be deterministically generated from my 
profile name if I have not uploaded an profile image yet.

[toDo] US 02.06.01      # { [pts], [risk] } 
As an attendee, I do not want to login to the app. No username, no password.

---------
| Both: |
---------
[toDo] US 03.02.01      # { [pts], [risk] } 
As a user, I want the option to enable or disable geolocation tracking for event 
verification.

------------------
| Administrator: |
------------------
[toDo] US 04.01.01      # { [pts], [risk] } 
As an administrator, I want to be able to remove events.

[toDo] US 04.02.01      # { [pts], [risk] } 
As an administrator, I want to be able to remove profiles.

[toDo] US 04.03.01      # { [pts], [risk] } 
As an administrator, I want to be able to remove images.

[toDo] US 04.04.01      # { [pts], [risk] } 
As an administrator, I want to be able to browse events.

[toDo] US 04.05.01      # { [pts], [risk] } 
As an administrator, I want to be able to browse profiles.

[toDo] US 04.06.01      # { [pts], [risk] } 
As an administrator, I want to be able to browse images.


__/ Project Problem Description \______________________________________________ 
| You are to design and implement a simple, attractive, and easy-to-use Android 
| application to satisfy the following goals. Your design must be flexible enough 
| to allow developers to extend or migrate it.
| 
| Create an event management system where attendees check in using QR codes on 
| their mobile devices. Organizers can track attendance, manage event details, 
| and send notifications.


__/ Features: \________________________________________________________________
| 1. QR Code Scanning:
| Attendees can use the app to scan event-specific QR codes for quick and seamless 
| check-ins.
| 
| 2. Firebase Integration:
| Utilize Firebase for storing event details, attendee lists, and real-time check-in 
| status updates.
| 
| 3. Multi-User Interaction:
| Distinguish between organizers and attendees with different app roles and permissions.
| 
| 4. Geolocation Verification (Optional):
| Optionally use geolocation to verify that attendees are physically present at the 
| event location during check-in.
| 
| 5. Image Upload:
| Allow organizers to upload event posters and attendees to upload profile pictures 
| for a more personalized experience.


__/ Scenario: \________________________________________________________________
| John, an event organizer, opens the QRCheckIn app for an upcoming tech conference. 
| He generates a unique QR code for the event. As attendees arrive, they use the app 
| to scan the QR code, automatically checking them into the conference. The app 
| updates Johns dashboard in real-time, showing the current attendance. John can also 
| send push notifications to all attendees through the app.


__/ Actors: \__________________________________________________________________
| Organizer: a person who organizes the event and is in control of an event
| Attendee: a person who attends the event
| Administrator: the entity that is responsible for the infrastructure that the game 
|                runs on.